# Set home.html as the default directory index
DirectoryIndex home.html index.html

# Allow access from all
<FilesMatch "\.html$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

# Enable URL rewriting
RewriteEngine On
RewriteBase /

# Redirect index.html to home.html
RewriteCond %{THE_REQUEST} /index\.html [NC]
RewriteRule ^index\.html$ /home.html [R=301,L]
